PORT=3000
NODE_ENV=development
WPP_SESSION_NAME=offers-session
WPP_SESSIONS=sales,support
WPP_PHONE_NUMBER=5511999999999
WPP_AUTH_METHOD=qrcode
WPP_TOKEN_DIR=./.wppconnect/tokens
WPP_QR_DIR=./qrcodes
WPP_SAVE_QR_IMAGE=true
WPP_HEADLESS=true
WPP_LOG_QR=true
WPP_START_SESSION_ON_BOOT=true
WPP_TEST_RECIPIENT=
WPP_LOG_LEVEL=info
